/* Formatações Gerais*/

body {
    background-color: #d2d2c1;
    background-image: url('images/fundo.png');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    width: 900px;
}

/* Formatação Navegação */
#navegation {
    background-color: #c5c5b2;
    text-align: center;
    padding: 10px;
}

/* Formatação Conteúdo */

#conteudo {
    background-color: #e8e8d9;
    margin: 0;
}

#conteudo p {
    margin: 0;
    padding: 5px;
}

/* CAMPANHA PUBLICITÁRIA */

#conteudoCampanha {
    background-color: #e8e8d9;
}

#conteudoCampanha p {
    margin: 0;
    padding: 10px;
}

#conteudoCampanha img {
    border-width: 10px;
    border-style: outset;
    border-color: rgba(128, 128, 128, 0.56);
    margin: 10px;
}

/* CONTATO */

#conteudoContato {
    background-color: #e8e8d9;
}

#conteudoContato p {
    margin: 0;
    padding: 10px;
}

#conteudoContato img {
    border-top: 2px;
    border-top-width: 5px;
    border-top-style: outset;
    border-top-color: gray;

    border-right: 2px;
    border-right-width: 5px;
    border-right-style: outset;
    border-right-color: rgba(128, 128, 128, 0.312);
}

/* Formatação Geral */

h1 {
    color: #828271;
    font-size: 1.5em;
    margin: 0;
    padding: 10px;
}

a{
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px;
}